<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "kr.board.mapper.BoardMapper"> <!-- 변수명이 같아도 namespace로 구분을 지어줄 수 있음 -->
	
	<!-- 전체 게시물을 가져오는 SQL 쿼리를 짜야한다. -->
	<select id="getLists" resultType = "kr.board.entity.Board"> <!-- id는 dao의 메소드 이름이랑 동일해야됨 
													resultType은 dto를 가져와줘야함 -->
		select * from board order by num desc 
	</select>
	
	<insert id ="register" parameterType = "kr.board.entity.Board">
		insert into board (username,title,content,writer)
		values(#{username},#{title},#{content},#{writer})
	
	</insert>
	
	<select id="get" resultType = "kr.board.entity.Board"> <!-- parameterType = "int"로 
															원래 파라미터도 적어주는데 리턴이 한개밖에 없으니까 생략가능 -->
		select * from board where num = #{num}
	</select>
	
	<update id = "modify" parameterType = "kr.board.entity.Board">
	
		update board set title = #{title}, content = #{content} where num = #{num}
		
	
	</update>
	
	
</mapper>



